{% extends '::front.html.twig' %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        <tr>
            <td><a href="{{ path('carreras_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nombre }}</td>
            <td>
                <a href="{{ path('carreras_show', { 'id': entity.id }) }}">show</a>
                <a href="#">eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{{ knp_pagination_render(entities) }}
{% endblock %}
