{% extends '::front.html.twig' %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>NO. CONTROL</th>
            <th>NOMBRE</th>
            <th>APELLIDOS</th>
            <th>CARRERA</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        <tr>
            <td><a href="{{ path('alumnos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nocontrol }}</td>
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.apellidopaterno ~ " " ~ entity.apellidomaterno }}</td>
            <td>{{ entity.carrera }}</td>
            <td>
                <a href="{{ path('alumnos_show', { 'id': entity.id }) }}">show</a>
                <a href="#">eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{{ knp_pagination_render(entities) }}
{% endblock %}
