{% extends '::front.html.twig' %}

{% block options %}
    <ul class="side-nav">
        <li><a href="{{ path('alumnos_nuevo') }}">Nuevo alumno</a></li>
    </ul>
{% endblock %}

{% block content %}
<div class="row">
    <section class="large-10 large-push-2 columns">
        <table>
            <thead>
                <tr>
                    <th width="150">NO. CONTROL</th>
                    <th width="220">NOMBRE</th>
                    <th width="220">APELLIDOS</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                <tr>
                    <td class="enlace"><a href="{{ path('alumnos_show', { 'id': entity.id }) }}">{{ entity.nocontrol }}</a></td>
                    <td class="enlace"><a href="{{ path('alumnos_show', { 'id': entity.id }) }}">{{ entity.nombre }}</a></td>
                    <td class="enlace"><a href="{{ path('alumnos_show', { 'id': entity.id }) }}">{{ entity.apellidopaterno ~ " " ~ entity.apellidomaterno }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(entities) }}
    </section>  
</div>
{% endblock %}
