{% extends '::front.html.twig' %}

{% block content %}
<div class="row">
    <div class="large-5 large-centered columns">
		<form action="{{ path('alumnos_nuevo') }}" method="post" {{ form_enctype(formulario) }} >
			{{ form_label(formulario.nocontrol, "No. de control") }}
			{{ form_widget(formulario.nocontrol) }}
			{{ form_label(formulario.nombre) }}
			{{ form_widget(formulario.nombre) }}
			{{ form_label(formulario.apellidoPaterno) }}
			{{ form_widget(formulario.apellidoPaterno) }}
			{{ form_label(formulario.apellidoMaterno) }}
			{{ form_widget(formulario.apellidoMaterno) }}
			{{ form_label(formulario.carrera) }}
			{{ form_widget(formulario.carrera) }}
			<input type="submit" value="GUARDAR" >
		</form>
	</div>
</div>
{% endblock %}