{% extends '::front.html.twig' %}

{% block options %}
    <ul class="side-nav">
        <li><a href="{{ path('alumnos_actualizar', { 'id': entity.id }) }}">Actualizar datos</a></li>
        <li><a href="{{ path('alumnos_eliminar', { 'id': entity.id }) }}">Eliminar alumno</a></li>
    </ul>
{% endblock %}

{% block content %}
<div class="row">
    <section class="large-12 columns">
        <table>
            <thead>
                <tr>
                    <th width="120">NO. CONTROL</th>
                    <th width="320">ALUMNO</th>
                    <th width="270">CARRERA</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ entity.nocontrol }}</td>
                    <td>{{ entity.apellidopaterno ~ " " ~ entity.apellidomaterno ~ " " ~ entity.nombre }}</td>
                    <td>{{ entity.carrera|upper }}</td>
                </tr>
            </tbody>
        </table>
    </section>  
</div>
{% endblock %}